# MongoDB Atlas
MONGO_URI=URI DE CONEXIÓN A MONGODB ATLAS
MONGO_DB=NOMBRE DE LA BASE DE DATOS
MONGO_COLLECTION=NOMBRE DE LA COLECCIÓN

# RabbitMQ (configurado para el contenedor Docker)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/

# Configuración de entorno
DEBUG=true